<!-- form.ejs -->
<html>
  <head>
    <title>New Message</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" type="image/x-icon" href="messageIcon.svg">
  </head>
  <body>
    <%- include("header") %>
    <main>
      <div class="newMessageContainer">
        <h2>Create a New Message!</h2>
        <form method="POST" action="/new">
          <div>
            <label for="author">Author's Name: </label>
            <input
              type="text"
              name="author"
              id="author"
              size="24"
              required
            />
          </div>
          <div>
            <label for="text">Message: </label>
            <textarea
              id="text"
              name="text"
              rows="4"
              cols="26"
              placeholder="Write your Message Here!"
              required
            ></textarea>
          </div>
          <button class="submitBtn" type="submit">Submit</button>
        </form>
      </div>
    </main>
    <%- include("footer") %>
  </body>
</html>
