<header>
  <a class="name" href="/">
    <img src="messageIcon.svg" alt="" srcset="">
    <b>Mini Messageboard</b>
  </a>
  <nav>
    <a href="/">Home</a>
    <a href="new">Create New Message</a>
  </nav>
</header>
