<header>
  <div class="name">
    <img src="messageIcon.svg" alt="" srcset="">
    <b>Mini Messageboard</b>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="new">Create New Message</a>
  </nav>
</header>
